# Files and directories created by pub
.packages
.pub/
build/

# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Directory created by dartdoc
doc/api/

# Directory created by WebStorm
.idea/

# Something Dart 2.0 related?
.dart_tool

# Test_Gen directory (generating test files without reflection for testing on javascript)
test/test_gen/